<section class="cases" id="cases">
  <div class="container test">
    <div>
      <p class="cases__subtitle">This is what we do</p>
      <h2 class="cases__title">Business Cases</h2>
      <p class="cases__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    </div>
    <ul class="cases__list">
      <li class="cases__item"></li>
      <li class="cases__item"></li>
      <li class="cases__item"></li>
      <li class="cases__item"></li>
      <li class="cases__item"></li>
      <li class="cases__item"></li>
    </ul>
  </div>
</section>
