<footer class="footer">
  <div class="footer__container container">
    <ul class="footer-social__list offds">
      <li class="footer-social__item offds">
        <a
          href="https://github.com/"
          class="footer-social__link offds"
          target="_blank"
          rel="noopener  noreferrer"
          title="Facebook"
        >
          <svg class="footer-social__icon">
            <use href="./images/social-link.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social__item offds">
        <a
          href="https://telegram.org/"
          class="footer-social__link offds"
          target="_blank"
          rel="noopener  noreferrer"
          title="Twitter"
        >
          <svg class="footer-social__icon">
            <use href="./images/social-link.svg#icon-twiter"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social__item offds">
        <a
          href="https://www.facebook.com/"
          class="footer-social__link offds"
          target="_blank"
          rel="noopener  noreferrer"
          title="YouTube"
        >
          <svg class="footer-social__icon">
            <use href="./images/social-link.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social__item offds">
        <a
          href="https://www.facebook.com/"
          class="footer-social__link offds"
          target="_blank"
          rel="noopener  noreferrer"
          title="Linkedin"
        >
          <svg class="footer-social__icon">
            <use href="./images/social-link.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__text">Copyright &copy; 2021 - FinanceLedger</p>
  </div>
</footer>
