<section class="form" id="form">
    <div class="container form__container">
        <picture class="pic">
            <source srcset="./images/home/contact.webp 1x, ./images/home/contact@2x.webp 2x" />
            <source srcset="./images/home/contact.jpg 1x, ./images/home/contact@2x.jpg 2x" />
            <img class="form__img" src="./images/home/contact.jpg" alt="Кувшин с молоком и корова" />
        </picture>
        <div class="form__description">
            <h2 class="form__title">Request Callback</h2>
            <form class="form__call" action="">
                <input class="input-name" type="text" name="" id="">
                <input class="input-email" type="email" name="" id="">
                <button type="submit" class="form__btn">Send</button>
            </form>
        </div>
    </div>
</section>