<header class="header">
  <div class="container container-box header__container">
    <a href="/" class="header__logo offds">
          <svg class="header__logo-svg" width="40" height="35">
            <use href="./images/icons.svg#icon-logo-book"></use>
          </svg>
          Finance <span class="logo-text">Ledger</span>
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list offds">
        <li class="header-nav__item"><button type="button" class="header-nav__link offds" name="home">Home</button></li>
        <li class="header-nav__item"><button type="button" class="header-nav__link offds" name="about">About</button></li>
        <li class="header-nav__item"><button type="button" class="header-nav__link offds" name="cases">Cases</button></li>
        <li class="header-nav__item"><button type="button" class="header-nav__link offds" name="blog">Blog</button></li>
        <li class="header-nav__item"><button type="button" class="header-nav__link offds" name="contact">Contact</button></li>
      </ul>
    </nav>
  </div>
</header>
