<header class="header">
  <div class="container container-box header__container">
    <a href="/" class="header__logo offds">
          <svg class="header__logo-svg" width="40" height="35">
            <use href="./images/icons.svg#icon-logo-book"></use>
          </svg>
          Finance <span class="logo-text">Ledger</span>
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list offds">
        <li class="header-nav__item"><a class="header-nav__link offds" href="/">Home</a></li>
        <li class="header-nav__item">
          <a class="header-nav__link offds" href="#about">About</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link offds" href="#cases">Cases</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link offds" href="#blog">Blog</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link offds" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
