<section class="hero">
  <div class="hero__container container">
      <h1 class="hero__title">The Sky Is<br> The Limit</h1>
      <p class="hero__text">We provide world class financial assistance</p>
      <button type="button" class="hero__button">Read More</button>
      <!-- <picture class="hero_img-icecream animate__animated animate__slow animate__zoomInDown">
        <source
          srcset="
            ./images/hero/hero-icecream-desc-1x.png 1x,
            ./images/hero/hero-icecream-desc-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hero/hero-icecream-tabl-1x.png 1x,
            ./images/hero/hero-icecream-tabl-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/hero-icecream-mob-1x.png 1x,
            ./images/hero/hero-icecream-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/hero/hero-icecream-mob-1x.png" alt="icecream" />
      </picture> -->

    <!-- <picture class="hero_img-milk">
      <source
        srcset="./images/hero/hero-milk-desc-1x.png 1x, ./images/hero/hero-milk-desc-2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero/hero-milk-tabl-1x.png 1x, ./images/hero/hero-milk-tabl-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/hero/hero-milk-tabl-1x.png" alt="milk" />
    </picture> -->
  </div>
</section>
