<ul class="team-social__list offds">
    <li class="team-social__item offds">
        <a href="https://github.com/" class="team-social__link offds" target="_blank" rel="noopener  noreferrer"
            title="Facebook">
            <svg class="team-social__icon">
                <use href="./images/social-link.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
    <li class="team-social__item offds">
        <a href="https://telegram.org/" class="team-social__link offds" target="_blank" rel="noopener  noreferrer"
            title="Twitter">
            <svg class="team-social__icon">
                <use href="./images/social-link.svg#icon-twiter"></use>
            </svg>
        </a>
    </li>
    <li class="team-social__item offds">
        <a href="https://www.facebook.com/" class="team-social__link offds" target="_blank" rel="noopener  noreferrer"
            title="YouTube">
            <svg class="team-social__icon">
                <use href="./images/social-link.svg#icon-youtube"></use>
            </svg>
        </a>
    </li>
    <li class="team-social__item offds">
        <a href="https://www.facebook.com/" class="team-social__link offds" target="_blank" rel="noopener  noreferrer"
            title="Linkedin">
            <svg class="team-social__icon">
                <use href="./images/social-link.svg#icon-linkedin"></use>
            </svg>
        </a>
    </li>
</ul>