<section class="team" id="team">
    <div class="container test">
        <div>
            <p class="team__subtitle">Who we are</p>
            <h2 class="team__title">Our Professional Team</h2>
            <p class="team__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        </div>
        <ul class="team__list">
            <li class="team__item">
                <img class="team__item-photo" src="" alt="">
                <h3 class="team__name">John Doe</h3>
                <p class="team__position">President</p>
            </li>
            <li class="team__item">
                <img class="team__item-photo" src="" alt="">
                <h3 class="team__name">Jane Doe</h3>
                <p class="team__position">Vice President</p>
            </li>
            <li class="team__item">
                <img class="team__item-photo" src="" alt="">
                <h3 class="team__name">Steve Smith</h3>
                <p class="team__position">Marketing Head</p>
            </li>
        </ul>
    </div>
</section>