.contact {
  background-color: #F4F4F4;
  // color: var(--primary-text-color);
}

.contact__container{
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1.04fr;
  }

  @media screen and (min-width: 1360px) {
    min-width: 1360px;
  }
}

.contact__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    height: 100%;
  }
}

.contact__description {
  padding: 40px 30px;
  color: #FFFFFF;

  @media screen and (min-width: 768px) {
    padding-right: 53px;
    padding-left: 32px;
  }

  @media screen and (min-width: 1360px) {
    padding: 80px 28px 80px 20px;
  }
}

.contact__subtitle {
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 8px;
}

.contact__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 32px;
  color: var(--secondary-text-color);
}

.contact__text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.contact__call{
  display: flex;
  flex-direction: column;
}

.contact__btn {
  display: block;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 0;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: inherit;
  background: var(--primary-color);
  @include transition(background-color);
  &:hover {
    background-color: #28a746db;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.38;
  }
}

.input-name,
.input-email {
  margin-bottom: 32px;
  height: 40px;

}
.input-email{
  @media screen and (min-width: 1360px) {
  margin-bottom: 60px;
  }
}