.footer{
  color: #ffffff;
  background-color: #333333;
  padding: 20px auto;
}

.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.footer-social{

}

.footer-social__list{
  display: flex;
  margin: 0 auto 8px;
}

.footer-social__icon{
  width: 35px;
  height: 35px;
  fill: #ffffff;
  @include transition(fill);
  .footer-social__link:hover &,
  .footer-social__link:focus & {
    fill: var(--primary-color);
    
  }
}

// .footer-social__link:hover,
// .footer-social__link:focus {

// }
.footer-social__item + .footer-social__item{
    margin-left: 25px;
}

.footer__text{
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}