.hero {
  // width: 100%;
  // height: 100%;
  padding: 142px 20px 94px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/home/showcase.jpg);
    
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/home/showcase@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    padding: 408px 0;
  }

  @media screen and (min-width: 1360px) {
    padding: 280px 0;
  }

}

.hero__container {
// display: flex;
// flex-direction: column;
}

.hero__title{
  color: var(--primary-text-color);
  font-weight: 300;
  font-size: 52px;
  line-height: 1.27;
  text-align: center;
  color: #E9E9E9;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 55px;
    line-height: 1.2;
  }

}

.hero__text{
  font-weight: 400;
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: #E9E9E9;
  margin-bottom: 24px;
}

.hero__button{
  display: block;
  background-color: var(--primary-color);
  color: #E9E9E9;
  padding: 10px 29px;
  border-color: var(--primary-color);
  border-radius: 5px;
  margin: 0 auto;
  @include transition(background-color);
  &:hover{
    background-color: #28a746db;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
  }    
}
