.team {
  color: var(--secondary-text-color);
  padding: 40px 20px;
  @media screen and (min-width: 768px) {
    padding-right: 32px;
    border-left: 32px;
  }
  @media screen and (min-width: 1360px) {
    padding: 80px 28px;
  }
}

.team__list {
  display: grid;
  grid-row-gap: 20px;
  @media screen and (min-width: 768px) {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 18px;
  }
  @media screen and (min-width: 1360px) {
  grid-column-gap: 20px;
  grid-row-gap: 24px;
  }
}

.team__subtitle {
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.team__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  padding-bottom: 20px;
}

.team__text {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 17px;
    line-height: 1.66;
  }
  @media screen and (min-width: 1360px) {
    font-size: 18px;
    line-height: 1.56;
  }
}


.team__item {
  display: block;
}

.team__img{
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.team__description{

}


.team__name{
  font-size: 23px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    font-size: 25px;
    line-height: 1.27;
  }
}

.team__position{
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.team__wrapper{
  display: block;
  position: relative;
  background-color: inherit;
  @include transition(transform, 500ms);
  &:hover {
    transform: scale(1.03, 1.03);
  }
  &:hover .team__card-overlay {
      opacity: 1;
      background-color: rgba(0, 0, 0, .5);
    }
}

.team__card-overlay{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    @include transition(opacity, 500ms);
    @include transition(background-color, 500ms);
    display: flex;
    align-items: center;
}

// .team-social {}

.team-social__list {
  display: flex;
  margin: 0 auto 8px;
}

.team-social__icon {
  width: 35px;
  height: 35px;
  fill: #ffffff;
  @include transition(fill, 500ms);

  .team-social__link:hover &,
  .team-social__link:focus & {
    fill: rgba(255, 255, 255, 0.5);
  }
}

.team-social__item + .team-social__item {
    margin-left: 25px;
}

// a {
//   display: block;
//   position: relative;
// }

// .mask {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(0, 0, 0, .5);
//   opacity: 0;
// }

a:hover:after {
  opacity: 1;
}
