.team {
  color: var(--secondary-text-color);
  padding: 40px 20px;
  @media screen and (min-width: 768px) {
    padding-right: 32px;
    border-left: 32px;
  }
  @media screen and (min-width: 1360px) {
    padding: 80px 28px;
  }
}

.team__list {
  display: grid;
  grid-row-gap: 20px;
  @media screen and (min-width: 768px) {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 18px;
  }
  @media screen and (min-width: 1360px) {
  grid-column-gap: 20px;
  grid-row-gap: 24px;
  }
}

.team__subtitle {
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.team__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  padding-bottom: 20px;
}

.team__text {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 17px;
    line-height: 1.66;
  }
  @media screen and (min-width: 1360px) {
    font-size: 18px;
    line-height: 1.56;
  }
}


.team__item {
  display: block;
}

.team__img{
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.team__description{

}


.team__name{
  font-size: 23px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    font-size: 25px;
    line-height: 1.27;
  }
}

.team__position{
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

